<form action="/restaurant" method="POST">
  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廰名稱</span>
    </div>
    <input type="text" name="name" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">菜式類型</span>
    </div>
    <input type="text" name="category" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">給予評分</span>
    </div>
    <input type="text" name="rating" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">相片網址</span>
    </div>
    <input type="text" name="image" class="form-control"
      value="https://lh3.googleusercontent.com/proxy/Rk0ZuzH6rKaerVSulYkQEWhtlMDz1dTpr6dzI-93ptXlDS34O5cT6ixj0jz2th2gPTqDODqKG7ywO9d6Tn0JU3w35FG2C5Uxoh10H7ne8Iqcf5NggaAR-8gvWg">
  </div>
  <button type="submit">Create</button>
</form>