<form action="/restaurant" method="POST">
  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廰名稱</span>
    </div>
    <input type="text" name="name" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">菜式類型</span>
    </div>
    <input type="text" name="category" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">給予評分</span>
    </div>
    <input type="text" name="rating" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">相片網址</span>
    </div>
    <input type="text" name="image" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廳地址</span>
    </div>
    <input type="text" name="location" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廳電話</span>
    </div>
    <input type="text" name="phone" class="form-control">
  </div>

  <div class="input-group" style="width: 500px">
    <div class="input-group-prepend">
      <span class="input-group-text">餐廳描述</span>
    </div>
    <input type="text" name="description" class="form-control">
  </div>

  <button type="submit">Create</button>
</form>